@font-face {
    font-family: FontAwesome;
    src: url(fonts/fontawesome-webfont.eot?v=4.7.0);
    src: url(fonts/fontawesome-webfont.eot?#iefix&v=4.7.0) format('embedded-opentype'), url(fonts/fontawesome-webfont.woff2?v=4.7.0) format('woff2'), url(fonts/fontawesome-webfont.woff?v=4.7.0) format('woff'), url(fonts/fontawesome-webfont.ttf?v=4.7.0) format('truetype'), url(fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format('svg');
    font-weight: 400;
    font-style: normal
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%
}

.fa-2x {
    font-size: 2em
}

.fa-3x {
    font-size: 3em
}

.fa-4x {
    font-size: 4em
}

.fa-5x {
    font-size: 5em
}

.fa-fw {
    width: 1.28571429em;
    text-align: center
}

.fa-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none
}

.fa-ul>li {
    position: relative
}

.fa-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: .14285714em;
    text-align: center
}

.fa-li.fa-lg {
    left: -1.85714286em
}

.fa-border {
    padding: .2em .25em .15em;
    border: solid .08em #eee;
    border-radius: .1em
}

.fa-pull-left {
    float: left
}

.fa-pull-right {
    float: right
}

.fa.fa-pull-left {
    margin-right: .3em
}

.fa.fa-pull-right {
    margin-left: .3em
}

.pull-right {
    float: right
}

.pull-left {
    float: left
}

.fa.pull-left {
    margin-right: .3em
}

.fa.pull-right {
    margin-left: .3em
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear
}

.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8)
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.fa-rotate-90 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.fa-rotate-180 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.fa-rotate-270 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg)
}

.fa-flip-horizontal {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1)
}

.fa-flip-vertical {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1)
}

:root .fa-flip-horizontal,
:root .fa-flip-vertical,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-rotate-90 {
    -webkit-filter: none;
    filter: none
}

.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle
}

.fa-stack-1x,
.fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center
}

.fa-stack-1x {
    line-height: inherit
}

.fa-stack-2x {
    font-size: 2em
}

.fa-inverse {
    color: #fff
}

.fa-glass:before {
    content: "\f000"
}

.fa-music:before {
    content: "\f001"
}

.fa-search:before {
    content: "\f002"
}

.fa-envelope-o:before {
    content: "\f003"
}

.fa-heart:before {
    content: "\f004"
}

.fa-star:before {
    content: "\f005"
}

.fa-star-o:before {
    content: "\f006"
}

.fa-user:before {
    content: "\f007"
}

.fa-film:before {
    content: "\f008"
}

.fa-th-large:before {
    content: "\f009"
}

.fa-th:before {
    content: "\f00a"
}

.fa-th-list:before {
    content: "\f00b"
}

.fa-check:before {
    content: "\f00c"
}

.fa-close:before,
.fa-remove:before,
.fa-times:before {
    content: "\f00d"
}

.fa-search-plus:before {
    content: "\f00e"
}

.fa-search-minus:before {
    content: "\f010"
}

.fa-power-off:before {
    content: "\f011"
}

.fa-signal:before {
    content: "\f012"
}

.fa-cog:before,
.fa-gear:before {
    content: "\f013"
}

.fa-trash-o:before {
    content: "\f014"
}

.fa-home:before {
    content: "\f015"
}

.fa-file-o:before {
    content: "\f016"
}

.fa-clock-o:before {
    content: "\f017"
}

.fa-road:before {
    content: "\f018"
}

.fa-download:before {
    content: "\f019"
}

.fa-arrow-circle-o-down:before {
    content: "\f01a"
}

.fa-arrow-circle-o-up:before {
    content: "\f01b"
}

.fa-inbox:before {
    content: "\f01c"
}

.fa-play-circle-o:before {
    content: "\f01d"
}

.fa-repeat:before,
.fa-rotate-right:before {
    content: "\f01e"
}

.fa-refresh:before {
    content: "\f021"
}

.fa-list-alt:before {
    content: "\f022"
}

.fa-lock:before {
    content: "\f023"
}

.fa-flag:before {
    content: "\f024"
}

.fa-headphones:before {
    content: "\f025"
}

.fa-volume-off:before {
    content: "\f026"
}

.fa-volume-down:before {
    content: "\f027"
}

.fa-volume-up:before {
    content: "\f028"
}

.fa-qrcode:before {
    content: "\f029"
}

.fa-barcode:before {
    content: "\f02a"
}

.fa-tag:before {
    content: "\f02b"
}

.fa-tags:before {
    content: "\f02c"
}

.fa-book:before {
    content: "\f02d"
}

.fa-bookmark:before {
    content: "\f02e"
}

.fa-print:before {
    content: "\f02f"
}

.fa-camera:before {
    content: "\f030"
}

.fa-font:before {
    content: "\f031"
}

.fa-bold:before {
    content: "\f032"
}

.fa-italic:before {
    content: "\f033"
}

.fa-text-height:before {
    content: "\f034"
}

.fa-text-width:before {
    content: "\f035"
}

.fa-align-left:before {
    content: "\f036"
}

.fa-align-center:before {
    content: "\f037"
}

.fa-align-right:before {
    content: "\f038"
}

.fa-align-justify:before {
    content: "\f039"
}

.fa-list:before {
    content: "\f03a"
}

.fa-dedent:before,
.fa-outdent:before {
    content: "\f03b"
}

.fa-indent:before {
    content: "\f03c"
}

.fa-video-camera:before {
    content: "\f03d"
}

.fa-image:before,
.fa-photo:before,
.fa-picture-o:before {
    content: "\f03e"
}

.fa-pencil:before {
    content: "\f040"
}

.fa-map-marker:before {
    content: "\f041"
}

.fa-adjust:before {
    content: "\f042"
}

.fa-tint:before {
    content: "\f043"
}

.fa-edit:before,
.fa-pencil-square-o:before {
    content: "\f044"
}

.fa-share-square-o:before {
    content: "\f045"
}

.fa-check-square-o:before {
    content: "\f046"
}

.fa-arrows:before {
    content: "\f047"
}

.fa-step-backward:before {
    content: "\f048"
}

.fa-fast-backward:before {
    content: "\f049"
}

.fa-backward:before {
    content: "\f04a"
}

.fa-play:before {
    content: "\f04b"
}

.fa-pause:before {
    content: "\f04c"
}

.fa-stop:before {
    content: "\f04d"
}

.fa-forward:before {
    content: "\f04e"
}

.fa-fast-forward:before {
    content: "\f050"
}

.fa-step-forward:before {
    content: "\f051"
}

.fa-eject:before {
    content: "\f052"
}

.fa-chevron-left:before {
    content: "\f053"
}

.fa-chevron-right:before {
    content: "\f054"
}

.fa-plus-circle:before {
    content: "\f055"
}

.fa-minus-circle:before {
    content: "\f056"
}

.fa-times-circle:before {
    content: "\f057"
}

.fa-check-circle:before {
    content: "\f058"
}

.fa-question-circle:before {
    content: "\f059"
}

.fa-info-circle:before {
    content: "\f05a"
}

.fa-crosshairs:before {
    content: "\f05b"
}

.fa-times-circle-o:before {
    content: "\f05c"
}

.fa-check-circle-o:before {
    content: "\f05d"
}

.fa-ban:before {
    content: "\f05e"
}

.fa-arrow-left:before {
    content: "\f060"
}

.fa-arrow-right:before {
    content: "\f061"
}

.fa-arrow-up:before {
    content: "\f062"
}

.fa-arrow-down:before {
    content: "\f063"
}

.fa-mail-forward:before,
.fa-share:before {
    content: "\f064"
}

.fa-expand:before {
    content: "\f065"
}

.fa-compress:before {
    content: "\f066"
}

.fa-plus:before {
    content: "\f067"
}

.fa-minus:before {
    content: "\f068"
}

.fa-asterisk:before {
    content: "\f069"
}

.fa-exclamation-circle:before {
    content: "\f06a"
}

.fa-gift:before {
    content: "\f06b"
}

.fa-leaf:before {
    content: "\f06c"
}

.fa-fire:before {
    content: "\f06d"
}

.fa-eye:before {
    content: "\f06e"
}

.fa-eye-slash:before {
    content: "\f070"
}

.fa-exclamation-triangle:before,
.fa-warning:before {
    content: "\f071"
}

.fa-plane:before {
    content: "\f072"
}

.fa-calendar:before {
    content: "\f073"
}

.fa-random:before {
    content: "\f074"
}

.fa-comment:before {
    content: "\f075"
}

.fa-magnet:before {
    content: "\f076"
}

.fa-chevron-up:before {
    content: "\f077"
}

.fa-chevron-down:before {
    content: "\f078"
}

.fa-retweet:before {
    content: "\f079"
}

.fa-shopping-cart:before {
    content: "\f07a"
}

.fa-folder:before {
    content: "\f07b"
}

.fa-folder-open:before {
    content: "\f07c"
}

.fa-arrows-v:before {
    content: "\f07d"
}

.fa-arrows-h:before {
    content: "\f07e"
}

.fa-bar-chart-o:before,
.fa-bar-chart:before {
    content: "\f080"
}

.fa-twitter-square:before {
    content: "\f081"
}

.fa-facebook-square:before {
    content: "\f082"
}

.fa-camera-retro:before {
    content: "\f083"
}

.fa-key:before {
    content: "\f084"
}

.fa-cogs:before,
.fa-gears:before {
    content: "\f085"
}

.fa-comments:before {
    content: "\f086"
}

.fa-thumbs-o-up:before {
    content: "\f087"
}

.fa-thumbs-o-down:before {
    content: "\f088"
}

.fa-star-half:before {
    content: "\f089"
}

.fa-heart-o:before {
    content: "\f08a"
}

.fa-sign-out:before {
    content: "\f08b"
}

.fa-linkedin-square:before {
    content: "\f08c"
}

.fa-thumb-tack:before {
    content: "\f08d"
}

.fa-external-link:before {
    content: "\f08e"
}

.fa-sign-in:before {
    content: "\f090"
}

.fa-trophy:before {
    content: "\f091"
}

.fa-github-square:before {
    content: "\f092"
}

.fa-upload:before {
    content: "\f093"
}

.fa-lemon-o:before {
    content: "\f094"
}

.fa-phone:before {
    content: "\f095"
}

.fa-square-o:before {
    content: "\f096"
}

.fa-bookmark-o:before {
    content: "\f097"
}

.fa-phone-square:before {
    content: "\f098"
}

.fa-twitter:before {
    content: "\f099"
}

.fa-facebook-f:before,
.fa-facebook:before {
    content: "\f09a"
}

.fa-github:before {
    content: "\f09b"
}

.fa-unlock:before {
    content: "\f09c"
}

.fa-credit-card:before {
    content: "\f09d"
}

.fa-feed:before,
.fa-rss:before {
    content: "\f09e"
}

.fa-hdd-o:before {
    content: "\f0a0"
}

.fa-bullhorn:before {
    content: "\f0a1"
}

.fa-bell:before {
    content: "\f0f3"
}

.fa-certificate:before {
    content: "\f0a3"
}

.fa-hand-o-right:before {
    content: "\f0a4"
}

.fa-hand-o-left:before {
    content: "\f0a5"
}

.fa-hand-o-up:before {
    content: "\f0a6"
}

.fa-hand-o-down:before {
    content: "\f0a7"
}

.fa-arrow-circle-left:before {
    content: "\f0a8"
}

.fa-arrow-circle-right:before {
    content: "\f0a9"
}

.fa-arrow-circle-up:before {
    content: "\f0aa"
}

.fa-arrow-circle-down:before {
    content: "\f0ab"
}

.fa-globe:before {
    content: "\f0ac"
}

.fa-wrench:before {
    content: "\f0ad"
}

.fa-tasks:before {
    content: "\f0ae"
}

.fa-filter:before {
    content: "\f0b0"
}

.fa-briefcase:before {
    content: "\f0b1"
}

.fa-arrows-alt:before {
    content: "\f0b2"
}

.fa-group:before,
.fa-users:before {
    content: "\f0c0"
}

.fa-chain:before,
.fa-link:before {
    content: "\f0c1"
}

.fa-cloud:before {
    content: "\f0c2"
}

.fa-flask:before {
    content: "\f0c3"
}

.fa-cut:before,
.fa-scissors:before {
    content: "\f0c4"
}

.fa-copy:before,
.fa-files-o:before {
    content: "\f0c5"
}

.fa-paperclip:before {
    content: "\f0c6"
}

.fa-floppy-o:before,
.fa-save:before {
    content: "\f0c7"
}

.fa-square:before {
    content: "\f0c8"
}

.fa-bars:before,
.fa-navicon:before,
.fa-reorder:before {
    content: "\f0c9"
}

.fa-list-ul:before {
    content: "\f0ca"
}

.fa-list-ol:before {
    content: "\f0cb"
}

.fa-strikethrough:before {
    content: "\f0cc"
}

.fa-underline:before {
    content: "\f0cd"
}

.fa-table:before {
    content: "\f0ce"
}

.fa-magic:before {
    content: "\f0d0"
}

.fa-truck:before {
    content: "\f0d1"
}

.fa-pinterest:before {
    content: "\f0d2"
}

.fa-pinterest-square:before {
    content: "\f0d3"
}

.fa-google-plus-square:before {
    content: "\f0d4"
}

.fa-google-plus:before {
    content: "\f0d5"
}

.fa-money:before {
    content: "\f0d6"
}

.fa-caret-down:before {
    content: "\f0d7"
}

.fa-caret-up:before {
    content: "\f0d8"
}

.fa-caret-left:before {
    content: "\f0d9"
}

.fa-caret-right:before {
    content: "\f0da"
}

.fa-columns:before {
    content: "\f0db"
}

.fa-sort:before,
.fa-unsorted:before {
    content: "\f0dc"
}

.fa-sort-desc:before,
.fa-sort-down:before {
    content: "\f0dd"
}

.fa-sort-asc:before,
.fa-sort-up:before {
    content: "\f0de"
}

.fa-envelope:before {
    content: "\f0e0"
}

.fa-linkedin:before {
    content: "\f0e1"
}

.fa-rotate-left:before,
.fa-undo:before {
    content: "\f0e2"
}

.fa-gavel:before,
.fa-legal:before {
    content: "\f0e3"
}

.fa-dashboard:before,
.fa-tachometer:before {
    content: "\f0e4"
}

.fa-comment-o:before {
    content: "\f0e5"
}

.fa-comments-o:before {
    content: "\f0e6"
}

.fa-bolt:before,
.fa-flash:before {
    content: "\f0e7"
}

.fa-sitemap:before {
    content: "\f0e8"
}

.fa-umbrella:before {
    content: "\f0e9"
}

.fa-clipboard:before,
.fa-paste:before {
    content: "\f0ea"
}

.fa-lightbulb-o:before {
    content: "\f0eb"
}

.fa-exchange:before {
    content: "\f0ec"
}

.fa-cloud-download:before {
    content: "\f0ed"
}

.fa-cloud-upload:before {
    content: "\f0ee"
}

.fa-user-md:before {
    content: "\f0f0"
}

.fa-stethoscope:before {
    content: "\f0f1"
}

.fa-suitcase:before {
    content: "\f0f2"
}

.fa-bell-o:before {
    content: "\f0a2"
}

.fa-coffee:before {
    content: "\f0f4"
}

.fa-cutlery:before {
    content: "\f0f5"
}

.fa-file-text-o:before {
    content: "\f0f6"
}

.fa-building-o:before {
    content: "\f0f7"
}

.fa-hospital-o:before {
    content: "\f0f8"
}

.fa-ambulance:before {
    content: "\f0f9"
}

.fa-medkit:before {
    content: "\f0fa"
}

.fa-fighter-jet:before {
    content: "\f0fb"
}

.fa-beer:before {
    content: "\f0fc"
}

.fa-h-square:before {
    content: "\f0fd"
}

.fa-plus-square:before {
    content: "\f0fe"
}

.fa-angle-double-left:before {
    content: "\f100"
}

.fa-angle-double-right:before {
    content: "\f101"
}

.fa-angle-double-up:before {
    content: "\f102"
}

.fa-angle-double-down:before {
    content: "\f103"
}

.fa-angle-left:before {
    content: "\f104"
}

.fa-angle-right:before {
    content: "\f105"
}

.fa-angle-up:before {
    content: "\f106"
}

.fa-angle-down:before {
    content: "\f107"
}

.fa-desktop:before {
    content: "\f108"
}

.fa-laptop:before {
    content: "\f109"
}

.fa-tablet:before {
    content: "\f10a"
}

.fa-mobile-phone:before,
.fa-mobile:before {
    content: "\f10b"
}

.fa-circle-o:before {
    content: "\f10c"
}

.fa-quote-left:before {
    content: "\f10d"
}

.fa-quote-right:before {
    content: "\f10e"
}

.fa-spinner:before {
    content: "\f110"
}

.fa-circle:before {
    content: "\f111"
}

.fa-mail-reply:before,
.fa-reply:before {
    content: "\f112"
}

.fa-github-alt:before {
    content: "\f113"
}

.fa-folder-o:before {
    content: "\f114"
}

.fa-folder-open-o:before {
    content: "\f115"
}

.fa-smile-o:before {
    content: "\f118"
}

.fa-frown-o:before {
    content: "\f119"
}

.fa-meh-o:before {
    content: "\f11a"
}

.fa-gamepad:before {
    content: "\f11b"
}

.fa-keyboard-o:before {
    content: "\f11c"
}

.fa-flag-o:before {
    content: "\f11d"
}

.fa-flag-checkered:before {
    content: "\f11e"
}

.fa-terminal:before {
    content: "\f120"
}

.fa-code:before {
    content: "\f121"
}

.fa-mail-reply-all:before,
.fa-reply-all:before {
    content: "\f122"
}

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
    content: "\f123"
}

.fa-location-arrow:before {
    content: "\f124"
}

.fa-crop:before {
    content: "\f125"
}

.fa-code-fork:before {
    content: "\f126"
}

.fa-chain-broken:before,
.fa-unlink:before {
    content: "\f127"
}

.fa-question:before {
    content: "\f128"
}

.fa-info:before {
    content: "\f129"
}

.fa-exclamation:before {
    content: "\f12a"
}

.fa-superscript:before {
    content: "\f12b"
}

.fa-subscript:before {
    content: "\f12c"
}

.fa-eraser:before {
    content: "\f12d"
}

.fa-puzzle-piece:before {
    content: "\f12e"
}

.fa-microphone:before {
    content: "\f130"
}

.fa-microphone-slash:before {
    content: "\f131"
}

.fa-shield:before {
    content: "\f132"
}

.fa-calendar-o:before {
    content: "\f133"
}

.fa-fire-extinguisher:before {
    content: "\f134"
}

.fa-rocket:before {
    content: "\f135"
}

.fa-maxcdn:before {
    content: "\f136"
}

.fa-chevron-circle-left:before {
    content: "\f137"
}

.fa-chevron-circle-right:before {
    content: "\f138"
}

.fa-chevron-circle-up:before {
    content: "\f139"
}

.fa-chevron-circle-down:before {
    content: "\f13a"
}

.fa-html5:before {
    content: "\f13b"
}

.fa-css3:before {
    content: "\f13c"
}

.fa-anchor:before {
    content: "\f13d"
}

.fa-unlock-alt:before {
    content: "\f13e"
}

.fa-bullseye:before {
    content: "\f140"
}

.fa-ellipsis-h:before {
    content: "\f141"
}

.fa-ellipsis-v:before {
    content: "\f142"
}

.fa-rss-square:before {
    content: "\f143"
}

.fa-play-circle:before {
    content: "\f144"
}

.fa-ticket:before {
    content: "\f145"
}

.fa-minus-square:before {
    content: "\f146"
}

.fa-minus-square-o:before {
    content: "\f147"
}

.fa-level-up:before {
    content: "\f148"
}

.fa-level-down:before {
    content: "\f149"
}

.fa-check-square:before {
    content: "\f14a"
}

.fa-pencil-square:before {
    content: "\f14b"
}

.fa-external-link-square:before {
    content: "\f14c"
}

.fa-share-square:before {
    content: "\f14d"
}

.fa-compass:before {
    content: "\f14e"
}

.fa-caret-square-o-down:before,
.fa-toggle-down:before {
    content: "\f150"
}

.fa-caret-square-o-up:before,
.fa-toggle-up:before {
    content: "\f151"
}

.fa-caret-square-o-right:before,
.fa-toggle-right:before {
    content: "\f152"
}

.fa-eur:before,
.fa-euro:before {
    content: "\f153"
}

.fa-gbp:before {
    content: "\f154"
}

.fa-dollar:before,
.fa-usd:before {
    content: "\f155"
}

.fa-inr:before,
.fa-rupee:before {
    content: "\f156"
}

.fa-cny:before,
.fa-jpy:before,
.fa-rmb:before,
.fa-yen:before {
    content: "\f157"
}

.fa-rouble:before,
.fa-rub:before,
.fa-ruble:before {
    content: "\f158"
}

.fa-krw:before,
.fa-won:before {
    content: "\f159"
}

.fa-bitcoin:before,
.fa-btc:before {
    content: "\f15a"
}

.fa-file:before {
    content: "\f15b"
}

.fa-file-text:before {
    content: "\f15c"
}

.fa-sort-alpha-asc:before {
    content: "\f15d"
}

.fa-sort-alpha-desc:before {
    content: "\f15e"
}

.fa-sort-amount-asc:before {
    content: "\f160"
}

.fa-sort-amount-desc:before {
    content: "\f161"
}

.fa-sort-numeric-asc:before {
    content: "\f162"
}

.fa-sort-numeric-desc:before {
    content: "\f163"
}

.fa-thumbs-up:before {
    content: "\f164"
}

.fa-thumbs-down:before {
    content: "\f165"
}

.fa-youtube-square:before {
    content: "\f166"
}

.fa-youtube:before {
    content: "\f167"
}

.fa-xing:before {
    content: "\f168"
}

.fa-xing-square:before {
    content: "\f169"
}

.fa-youtube-play:before {
    content: "\f16a"
}

.fa-dropbox:before {
    content: "\f16b"
}

.fa-stack-overflow:before {
    content: "\f16c"
}

.fa-instagram:before {
    content: "\f16d"
}

.fa-flickr:before {
    content: "\f16e"
}

.fa-adn:before {
    content: "\f170"
}

.fa-bitbucket:before {
    content: "\f171"
}

.fa-bitbucket-square:before {
    content: "\f172"
}

.fa-tumblr:before {
    content: "\f173"
}

.fa-tumblr-square:before {
    content: "\f174"
}

.fa-long-arrow-down:before {
    content: "\f175"
}

.fa-long-arrow-up:before {
    content: "\f176"
}

.fa-long-arrow-left:before {
    content: "\f177"
}

.fa-long-arrow-right:before {
    content: "\f178"
}

.fa-apple:before {
    content: "\f179"
}

.fa-windows:before {
    content: "\f17a"
}

.fa-android:before {
    content: "\f17b"
}

.fa-linux:before {
    content: "\f17c"
}

.fa-dribbble:before {
    content: "\f17d"
}

.fa-skype:before {
    content: "\f17e"
}

.fa-foursquare:before {
    content: "\f180"
}

.fa-trello:before {
    content: "\f181"
}

.fa-female:before {
    content: "\f182"
}

.fa-male:before {
    content: "\f183"
}

.fa-gittip:before,
.fa-gratipay:before {
    content: "\f184"
}

.fa-sun-o:before {
    content: "\f185"
}

.fa-moon-o:before {
    content: "\f186"
}

.fa-archive:before {
    content: "\f187"
}

.fa-bug:before {
    content: "\f188"
}

.fa-vk:before {
    content: "\f189"
}

.fa-weibo:before {
    content: "\f18a"
}

.fa-renren:before {
    content: "\f18b"
}

.fa-pagelines:before {
    content: "\f18c"
}

.fa-stack-exchange:before {
    content: "\f18d"
}

.fa-arrow-circle-o-right:before {
    content: "\f18e"
}

.fa-arrow-circle-o-left:before {
    content: "\f190"
}

.fa-caret-square-o-left:before,
.fa-toggle-left:before {
    content: "\f191"
}

.fa-dot-circle-o:before {
    content: "\f192"
}

.fa-wheelchair:before {
    content: "\f193"
}

.fa-vimeo-square:before {
    content: "\f194"
}

.fa-try:before,
.fa-turkish-lira:before {
    content: "\f195"
}

.fa-plus-square-o:before {
    content: "\f196"
}

.fa-space-shuttle:before {
    content: "\f197"
}

.fa-slack:before {
    content: "\f198"
}

.fa-envelope-square:before {
    content: "\f199"
}

.fa-wordpress:before {
    content: "\f19a"
}

.fa-openid:before {
    content: "\f19b"
}

.fa-bank:before,
.fa-institution:before,
.fa-university:before {
    content: "\f19c"
}

.fa-graduation-cap:before,
.fa-mortar-board:before {
    content: "\f19d"
}

.fa-yahoo:before {
    content: "\f19e"
}

.fa-google:before {
    content: "\f1a0"
}

.fa-reddit:before {
    content: "\f1a1"
}

.fa-reddit-square:before {
    content: "\f1a2"
}

.fa-stumbleupon-circle:before {
    content: "\f1a3"
}

.fa-stumbleupon:before {
    content: "\f1a4"
}

.fa-delicious:before {
    content: "\f1a5"
}

.fa-digg:before {
    content: "\f1a6"
}

.fa-pied-piper-pp:before {
    content: "\f1a7"
}

.fa-pied-piper-alt:before {
    content: "\f1a8"
}

.fa-drupal:before {
    content: "\f1a9"
}

.fa-joomla:before {
    content: "\f1aa"
}

.fa-language:before {
    content: "\f1ab"
}

.fa-fax:before {
    content: "\f1ac"
}

.fa-building:before {
    content: "\f1ad"
}

.fa-child:before {
    content: "\f1ae"
}

.fa-paw:before {
    content: "\f1b0"
}

.fa-spoon:before {
    content: "\f1b1"
}

.fa-cube:before {
    content: "\f1b2"
}

.fa-cubes:before {
    content: "\f1b3"
}

.fa-behance:before {
    content: "\f1b4"
}

.fa-behance-square:before {
    content: "\f1b5"
}

.fa-steam:before {
    content: "\f1b6"
}

.fa-steam-square:before {
    content: "\f1b7"
}

.fa-recycle:before {
    content: "\f1b8"
}

.fa-automobile:before,
.fa-car:before {
    content: "\f1b9"
}

.fa-cab:before,
.fa-taxi:before {
    content: "\f1ba"
}

.fa-tree:before {
    content: "\f1bb"
}

.fa-spotify:before {
    content: "\f1bc"
}

.fa-deviantart:before {
    content: "\f1bd"
}

.fa-soundcloud:before {
    content: "\f1be"
}

.fa-database:before {
    content: "\f1c0"
}

.fa-file-pdf-o:before {
    content: "\f1c1"
}

.fa-file-word-o:before {
    content: "\f1c2"
}

.fa-file-excel-o:before {
    content: "\f1c3"
}

.fa-file-powerpoint-o:before {
    content: "\f1c4"
}

.fa-file-image-o:before,
.fa-file-photo-o:before,
.fa-file-picture-o:before {
    content: "\f1c5"
}

.fa-file-archive-o:before,
.fa-file-zip-o:before {
    content: "\f1c6"
}

.fa-file-audio-o:before,
.fa-file-sound-o:before {
    content: "\f1c7"
}

.fa-file-movie-o:before,
.fa-file-video-o:before {
    content: "\f1c8"
}

.fa-file-code-o:before {
    content: "\f1c9"
}

.fa-vine:before {
    content: "\f1ca"
}

.fa-codepen:before {
    content: "\f1cb"
}

.fa-jsfiddle:before {
    content: "\f1cc"
}

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-ring:before,
.fa-life-saver:before,
.fa-support:before {
    content: "\f1cd"
}

.fa-circle-o-notch:before {
    content: "\f1ce"
}

.fa-ra:before,
.fa-rebel:before,
.fa-resistance:before {
    content: "\f1d0"
}

.fa-empire:before,
.fa-ge:before {
    content: "\f1d1"
}

.fa-git-square:before {
    content: "\f1d2"
}

.fa-git:before {
    content: "\f1d3"
}

.fa-hacker-news:before,
.fa-y-combinator-square:before,
.fa-yc-square:before {
    content: "\f1d4"
}

.fa-tencent-weibo:before {
    content: "\f1d5"
}

.fa-qq:before {
    content: "\f1d6"
}

.fa-wechat:before,
.fa-weixin:before {
    content: "\f1d7"
}

.fa-paper-plane:before,
.fa-send:before {
    content: "\f1d8"
}

.fa-paper-plane-o:before,
.fa-send-o:before {
    content: "\f1d9"
}

.fa-history:before {
    content: "\f1da"
}

.fa-circle-thin:before {
    content: "\f1db"
}

.fa-header:before {
    content: "\f1dc"
}

.fa-paragraph:before {
    content: "\f1dd"
}

.fa-sliders:before {
    content: "\f1de"
}

.fa-share-alt:before {
    content: "\f1e0"
}

.fa-share-alt-square:before {
    content: "\f1e1"
}

.fa-bomb:before {
    content: "\f1e2"
}

.fa-futbol-o:before,
.fa-soccer-ball-o:before {
    content: "\f1e3"
}

.fa-tty:before {
    content: "\f1e4"
}

.fa-binoculars:before {
    content: "\f1e5"
}

.fa-plug:before {
    content: "\f1e6"
}

.fa-slideshare:before {
    content: "\f1e7"
}

.fa-twitch:before {
    content: "\f1e8"
}

.fa-yelp:before {
    content: "\f1e9"
}

.fa-newspaper-o:before {
    content: "\f1ea"
}

.fa-wifi:before {
    content: "\f1eb"
}

.fa-calculator:before {
    content: "\f1ec"
}

.fa-paypal:before {
    content: "\f1ed"
}

.fa-google-wallet:before {
    content: "\f1ee"
}

.fa-cc-visa:before {
    content: "\f1f0"
}

.fa-cc-mastercard:before {
    content: "\f1f1"
}

.fa-cc-discover:before {
    content: "\f1f2"
}

.fa-cc-amex:before {
    content: "\f1f3"
}

.fa-cc-paypal:before {
    content: "\f1f4"
}

.fa-cc-stripe:before {
    content: "\f1f5"
}

.fa-bell-slash:before {
    content: "\f1f6"
}

.fa-bell-slash-o:before {
    content: "\f1f7"
}

.fa-trash:before {
    content: "\f1f8"
}

.fa-copyright:before {
    content: "\f1f9"
}

.fa-at:before {
    content: "\f1fa"
}

.fa-eyedropper:before {
    content: "\f1fb"
}

.fa-paint-brush:before {
    content: "\f1fc"
}

.fa-birthday-cake:before {
    content: "\f1fd"
}

.fa-area-chart:before {
    content: "\f1fe"
}

.fa-pie-chart:before {
    content: "\f200"
}

.fa-line-chart:before {
    content: "\f201"
}

.fa-lastfm:before {
    content: "\f202"
}

.fa-lastfm-square:before {
    content: "\f203"
}

.fa-toggle-off:before {
    content: "\f204"
}

.fa-toggle-on:before {
    content: "\f205"
}

.fa-bicycle:before {
    content: "\f206"
}

.fa-bus:before {
    content: "\f207"
}

.fa-ioxhost:before {
    content: "\f208"
}

.fa-angellist:before {
    content: "\f209"
}

.fa-cc:before {
    content: "\f20a"
}

.fa-ils:before,
.fa-shekel:before,
.fa-sheqel:before {
    content: "\f20b"
}

.fa-meanpath:before {
    content: "\f20c"
}

.fa-buysellads:before {
    content: "\f20d"
}

.fa-connectdevelop:before {
    content: "\f20e"
}

.fa-dashcube:before {
    content: "\f210"
}

.fa-forumbee:before {
    content: "\f211"
}

.fa-leanpub:before {
    content: "\f212"
}

.fa-sellsy:before {
    content: "\f213"
}

.fa-shirtsinbulk:before {
    content: "\f214"
}

.fa-simplybuilt:before {
    content: "\f215"
}

.fa-skyatlas:before {
    content: "\f216"
}

.fa-cart-plus:before {
    content: "\f217"
}

.fa-cart-arrow-down:before {
    content: "\f218"
}

.fa-diamond:before {
    content: "\f219"
}

.fa-ship:before {
    content: "\f21a"
}

.fa-user-secret:before {
    content: "\f21b"
}

.fa-motorcycle:before {
    content: "\f21c"
}

.fa-street-view:before {
    content: "\f21d"
}

.fa-heartbeat:before {
    content: "\f21e"
}

.fa-venus:before {
    content: "\f221"
}

.fa-mars:before {
    content: "\f222"
}

.fa-mercury:before {
    content: "\f223"
}

.fa-intersex:before,
.fa-transgender:before {
    content: "\f224"
}

.fa-transgender-alt:before {
    content: "\f225"
}

.fa-venus-double:before {
    content: "\f226"
}

.fa-mars-double:before {
    content: "\f227"
}

.fa-venus-mars:before {
    content: "\f228"
}

.fa-mars-stroke:before {
    content: "\f229"
}

.fa-mars-stroke-v:before {
    content: "\f22a"
}

.fa-mars-stroke-h:before {
    content: "\f22b"
}

.fa-neuter:before {
    content: "\f22c"
}

.fa-genderless:before {
    content: "\f22d"
}

.fa-facebook-official:before {
    content: "\f230"
}

.fa-pinterest-p:before {
    content: "\f231"
}

.fa-whatsapp:before {
    content: "\f232"
}

.fa-server:before {
    content: "\f233"
}

.fa-user-plus:before {
    content: "\f234"
}

.fa-user-times:before {
    content: "\f235"
}

.fa-bed:before,
.fa-hotel:before {
    content: "\f236"
}

.fa-viacoin:before {
    content: "\f237"
}

.fa-train:before {
    content: "\f238"
}

.fa-subway:before {
    content: "\f239"
}

.fa-medium:before {
    content: "\f23a"
}

.fa-y-combinator:before,
.fa-yc:before {
    content: "\f23b"
}

.fa-optin-monster:before {
    content: "\f23c"
}

.fa-opencart:before {
    content: "\f23d"
}

.fa-expeditedssl:before {
    content: "\f23e"
}

.fa-battery-4:before,
.fa-battery-full:before,
.fa-battery:before {
    content: "\f240"
}

.fa-battery-3:before,
.fa-battery-three-quarters:before {
    content: "\f241"
}

.fa-battery-2:before,
.fa-battery-half:before {
    content: "\f242"
}

.fa-battery-1:before,
.fa-battery-quarter:before {
    content: "\f243"
}

.fa-battery-0:before,
.fa-battery-empty:before {
    content: "\f244"
}

.fa-mouse-pointer:before {
    content: "\f245"
}

.fa-i-cursor:before {
    content: "\f246"
}

.fa-object-group:before {
    content: "\f247"
}

.fa-object-ungroup:before {
    content: "\f248"
}

.fa-sticky-note:before {
    content: "\f249"
}

.fa-sticky-note-o:before {
    content: "\f24a"
}

.fa-cc-jcb:before {
    content: "\f24b"
}

.fa-cc-diners-club:before {
    content: "\f24c"
}

.fa-clone:before {
    content: "\f24d"
}

.fa-balance-scale:before {
    content: "\f24e"
}

.fa-hourglass-o:before {
    content: "\f250"
}

.fa-hourglass-1:before,
.fa-hourglass-start:before {
    content: "\f251"
}

.fa-hourglass-2:before,
.fa-hourglass-half:before {
    content: "\f252"
}

.fa-hourglass-3:before,
.fa-hourglass-end:before {
    content: "\f253"
}

.fa-hourglass:before {
    content: "\f254"
}

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
    content: "\f255"
}

.fa-hand-paper-o:before,
.fa-hand-stop-o:before {
    content: "\f256"
}

.fa-hand-scissors-o:before {
    content: "\f257"
}

.fa-hand-lizard-o:before {
    content: "\f258"
}

.fa-hand-spock-o:before {
    content: "\f259"
}

.fa-hand-pointer-o:before {
    content: "\f25a"
}

.fa-hand-peace-o:before {
    content: "\f25b"
}

.fa-trademark:before {
    content: "\f25c"
}

.fa-registered:before {
    content: "\f25d"
}

.fa-creative-commons:before {
    content: "\f25e"
}

.fa-gg:before {
    content: "\f260"
}

.fa-gg-circle:before {
    content: "\f261"
}

.fa-tripadvisor:before {
    content: "\f262"
}

.fa-odnoklassniki:before {
    content: "\f263"
}

.fa-odnoklassniki-square:before {
    content: "\f264"
}

.fa-get-pocket:before {
    content: "\f265"
}

.fa-wikipedia-w:before {
    content: "\f266"
}

.fa-safari:before {
    content: "\f267"
}

.fa-chrome:before {
    content: "\f268"
}

.fa-firefox:before {
    content: "\f269"
}

.fa-opera:before {
    content: "\f26a"
}

.fa-internet-explorer:before {
    content: "\f26b"
}

.fa-television:before,
.fa-tv:before {
    content: "\f26c"
}

.fa-contao:before {
    content: "\f26d"
}

.fa-500px:before {
    content: "\f26e"
}

.fa-amazon:before {
    content: "\f270"
}

.fa-calendar-plus-o:before {
    content: "\f271"
}

.fa-calendar-minus-o:before {
    content: "\f272"
}

.fa-calendar-times-o:before {
    content: "\f273"
}

.fa-calendar-check-o:before {
    content: "\f274"
}

.fa-industry:before {
    content: "\f275"
}

.fa-map-pin:before {
    content: "\f276"
}

.fa-map-signs:before {
    content: "\f277"
}

.fa-map-o:before {
    content: "\f278"
}

.fa-map:before {
    content: "\f279"
}

.fa-commenting:before {
    content: "\f27a"
}

.fa-commenting-o:before {
    content: "\f27b"
}

.fa-houzz:before {
    content: "\f27c"
}

.fa-vimeo:before {
    content: "\f27d"
}

.fa-black-tie:before {
    content: "\f27e"
}

.fa-fonticons:before {
    content: "\f280"
}

.fa-reddit-alien:before {
    content: "\f281"
}

.fa-edge:before {
    content: "\f282"
}

.fa-credit-card-alt:before {
    content: "\f283"
}

.fa-codiepie:before {
    content: "\f284"
}

.fa-modx:before {
    content: "\f285"
}

.fa-fort-awesome:before {
    content: "\f286"
}

.fa-usb:before {
    content: "\f287"
}

.fa-product-hunt:before {
    content: "\f288"
}

.fa-mixcloud:before {
    content: "\f289"
}

.fa-scribd:before {
    content: "\f28a"
}

.fa-pause-circle:before {
    content: "\f28b"
}

.fa-pause-circle-o:before {
    content: "\f28c"
}

.fa-stop-circle:before {
    content: "\f28d"
}

.fa-stop-circle-o:before {
    content: "\f28e"
}

.fa-shopping-bag:before {
    content: "\f290"
}

.fa-shopping-basket:before {
    content: "\f291"
}

.fa-hashtag:before {
    content: "\f292"
}

.fa-bluetooth:before {
    content: "\f293"
}

.fa-bluetooth-b:before {
    content: "\f294"
}

.fa-percent:before {
    content: "\f295"
}

.fa-gitlab:before {
    content: "\f296"
}

.fa-wpbeginner:before {
    content: "\f297"
}

.fa-wpforms:before {
    content: "\f298"
}

.fa-envira:before {
    content: "\f299"
}

.fa-universal-access:before {
    content: "\f29a"
}

.fa-wheelchair-alt:before {
    content: "\f29b"
}

.fa-question-circle-o:before {
    content: "\f29c"
}

.fa-blind:before {
    content: "\f29d"
}

.fa-audio-description:before {
    content: "\f29e"
}

.fa-volume-control-phone:before {
    content: "\f2a0"
}

.fa-braille:before {
    content: "\f2a1"
}

.fa-assistive-listening-systems:before {
    content: "\f2a2"
}

.fa-american-sign-language-interpreting:before,
.fa-asl-interpreting:before {
    content: "\f2a3"
}

.fa-deaf:before,
.fa-deafness:before,
.fa-hard-of-hearing:before {
    content: "\f2a4"
}

.fa-glide:before {
    content: "\f2a5"
}

.fa-glide-g:before {
    content: "\f2a6"
}

.fa-sign-language:before,
.fa-signing:before {
    content: "\f2a7"
}

.fa-low-vision:before {
    content: "\f2a8"
}

.fa-viadeo:before {
    content: "\f2a9"
}

.fa-viadeo-square:before {
    content: "\f2aa"
}

.fa-snapchat:before {
    content: "\f2ab"
}

.fa-snapchat-ghost:before {
    content: "\f2ac"
}

.fa-snapchat-square:before {
    content: "\f2ad"
}

.fa-pied-piper:before {
    content: "\f2ae"
}

.fa-first-order:before {
    content: "\f2b0"
}

.fa-yoast:before {
    content: "\f2b1"
}

.fa-themeisle:before {
    content: "\f2b2"
}

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
    content: "\f2b3"
}

.fa-fa:before,
.fa-font-awesome:before {
    content: "\f2b4"
}

.fa-handshake-o:before {
    content: "\f2b5"
}

.fa-envelope-open:before {
    content: "\f2b6"
}

.fa-envelope-open-o:before {
    content: "\f2b7"
}

.fa-linode:before {
    content: "\f2b8"
}

.fa-address-book:before {
    content: "\f2b9"
}

.fa-address-book-o:before {
    content: "\f2ba"
}

.fa-address-card:before,
.fa-vcard:before {
    content: "\f2bb"
}

.fa-address-card-o:before,
.fa-vcard-o:before {
    content: "\f2bc"
}

.fa-user-circle:before {
    content: "\f2bd"
}

.fa-user-circle-o:before {
    content: "\f2be"
}

.fa-user-o:before {
    content: "\f2c0"
}

.fa-id-badge:before {
    content: "\f2c1"
}

.fa-drivers-license:before,
.fa-id-card:before {
    content: "\f2c2"
}

.fa-drivers-license-o:before,
.fa-id-card-o:before {
    content: "\f2c3"
}

.fa-quora:before {
    content: "\f2c4"
}

.fa-free-code-camp:before {
    content: "\f2c5"
}

.fa-telegram:before {
    content: "\f2c6"
}

.fa-thermometer-4:before,
.fa-thermometer-full:before,
.fa-thermometer:before {
    content: "\f2c7"
}

.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
    content: "\f2c8"
}

.fa-thermometer-2:before,
.fa-thermometer-half:before {
    content: "\f2c9"
}

.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
    content: "\f2ca"
}

.fa-thermometer-0:before,
.fa-thermometer-empty:before {
    content: "\f2cb"
}

.fa-shower:before {
    content: "\f2cc"
}

.fa-bath:before,
.fa-bathtub:before,
.fa-s15:before {
    content: "\f2cd"
}

.fa-podcast:before {
    content: "\f2ce"
}

.fa-window-maximize:before {
    content: "\f2d0"
}

.fa-window-minimize:before {
    content: "\f2d1"
}

.fa-window-restore:before {
    content: "\f2d2"
}

.fa-times-rectangle:before,
.fa-window-close:before {
    content: "\f2d3"
}

.fa-times-rectangle-o:before,
.fa-window-close-o:before {
    content: "\f2d4"
}

.fa-bandcamp:before {
    content: "\f2d5"
}

.fa-grav:before {
    content: "\f2d6"
}

.fa-etsy:before {
    content: "\f2d7"
}

.fa-imdb:before {
    content: "\f2d8"
}

.fa-ravelry:before {
    content: "\f2d9"
}

.fa-eercast:before {
    content: "\f2da"
}

.fa-microchip:before {
    content: "\f2db"
}

.fa-snowflake-o:before {
    content: "\f2dc"
}

.fa-superpowers:before {
    content: "\f2dd"
}

.fa-wpexplorer:before {
    content: "\f2de"
}

.fa-meetup:before {
    content: "\f2e0"
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}

@font-face {
    font-family: Pe-icon-7-stroke;
    src: url(../../fonts/Pe-icon-7-stroke.eot?d7yf1v);
    src: url(../../fonts/Pe-icon-7-stroke.eot?#iefixd7yf1v) format('embedded-opentype'), url(../../fonts/Pe-icon-7-stroke.woff?d7yf1v) format('woff'), url(../../fonts/Pe-icon-7-stroke.ttf?d7yf1v) format('truetype'), url(../../fonts/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke) format('svg');
    font-weight: 600;
    font-style: normal
}

[class*=" pe-7s-"],
[class^=pe-7s-] {
    display: inline-block;
    font-family: Pe-icon-7-stroke;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.pe-7s-album:before {
    content: "\e6aa"
}

.pe-7s-arc:before {
    content: "\e6ab"
}

.pe-7s-back-2:before {
    content: "\e6ac"
}

.pe-7s-bandaid:before {
    content: "\e6ad"
}

.pe-7s-car:before {
    content: "\e6ae"
}

.pe-7s-diamond:before {
    content: "\e6af"
}

.pe-7s-door-lock:before {
    content: "\e6b0"
}

.pe-7s-eyedropper:before {
    content: "\e6b1"
}

.pe-7s-female:before {
    content: "\e6b2"
}

.pe-7s-gym:before {
    content: "\e6b3"
}

.pe-7s-hammer:before {
    content: "\e6b4"
}

.pe-7s-headphones:before {
    content: "\e6b5"
}

.pe-7s-helm:before {
    content: "\e6b6"
}

.pe-7s-hourglass:before {
    content: "\e6b7"
}

.pe-7s-leaf:before {
    content: "\e6b8"
}

.pe-7s-magic-wand:before {
    content: "\e6b9"
}

.pe-7s-male:before {
    content: "\e6ba"
}

.pe-7s-map-2:before {
    content: "\e6bb"
}

.pe-7s-next-2:before {
    content: "\e6bc"
}

.pe-7s-paint-bucket:before {
    content: "\e6bd"
}

.pe-7s-pendrive:before {
    content: "\e6be"
}

.pe-7s-photo:before {
    content: "\e6bf"
}

.pe-7s-piggy:before {
    content: "\e6c0"
}

.pe-7s-plugin:before {
    content: "\e6c1"
}

.pe-7s-refresh-2:before {
    content: "\e6c2"
}

.pe-7s-rocket:before {
    content: "\e6c3"
}

.pe-7s-settings:before {
    content: "\e6c4"
}

.pe-7s-shield:before {
    content: "\e6c5"
}

.pe-7s-smile:before {
    content: "\e6c6"
}

.pe-7s-usb:before {
    content: "\e6c7"
}

.pe-7s-vector:before {
    content: "\e6c8"
}

.pe-7s-wine:before {
    content: "\e6c9"
}

.pe-7s-cloud-upload:before {
    content: "\e68a"
}

.pe-7s-cash:before {
    content: "\e68c"
}

.pe-7s-close:before {
    content: "\e680"
}

.pe-7s-bluetooth:before {
    content: "\e68d"
}

.pe-7s-cloud-download:before {
    content: "\e68b"
}

.pe-7s-way:before {
    content: "\e68e"
}

.pe-7s-close-circle:before {
    content: "\e681"
}

.pe-7s-id:before {
    content: "\e68f"
}

.pe-7s-angle-up:before {
    content: "\e682"
}

.pe-7s-wristwatch:before {
    content: "\e690"
}

.pe-7s-angle-up-circle:before {
    content: "\e683"
}

.pe-7s-world:before {
    content: "\e691"
}

.pe-7s-angle-right:before {
    content: "\e684"
}

.pe-7s-volume:before {
    content: "\e692"
}

.pe-7s-angle-right-circle:before {
    content: "\e685"
}

.pe-7s-users:before {
    content: "\e693"
}

.pe-7s-angle-left:before {
    content: "\e686"
}

.pe-7s-user-female:before {
    content: "\e694"
}

.pe-7s-angle-left-circle:before {
    content: "\e687"
}

.pe-7s-up-arrow:before {
    content: "\e695"
}

.pe-7s-angle-down:before {
    content: "\e688"
}

.pe-7s-switch:before {
    content: "\e696"
}

.pe-7s-angle-down-circle:before {
    content: "\e689"
}

.pe-7s-scissors:before {
    content: "\e697"
}

.pe-7s-wallet:before {
    content: "\e600"
}

.pe-7s-safe:before {
    content: "\e698"
}

.pe-7s-volume2:before {
    content: "\e601"
}

.pe-7s-volume1:before {
    content: "\e602"
}

.pe-7s-voicemail:before {
    content: "\e603"
}

.pe-7s-video:before {
    content: "\e604"
}

.pe-7s-user:before {
    content: "\e605"
}

.pe-7s-upload:before {
    content: "\e606"
}

.pe-7s-unlock:before {
    content: "\e607"
}

.pe-7s-umbrella:before {
    content: "\e608"
}

.pe-7s-trash:before {
    content: "\e609"
}

.pe-7s-tools:before {
    content: "\e60a"
}

.pe-7s-timer:before {
    content: "\e60b"
}

.pe-7s-ticket:before {
    content: "\e60c"
}

.pe-7s-target:before {
    content: "\e60d"
}

.pe-7s-sun:before {
    content: "\e60e"
}

.pe-7s-study:before {
    content: "\e60f"
}

.pe-7s-stopwatch:before {
    content: "\e610"
}

.pe-7s-star:before {
    content: "\e611"
}

.pe-7s-speaker:before {
    content: "\e612"
}

.pe-7s-signal:before {
    content: "\e613"
}

.pe-7s-shuffle:before {
    content: "\e614"
}

.pe-7s-shopbag:before {
    content: "\e615"
}

.pe-7s-share:before {
    content: "\e616"
}

.pe-7s-server:before {
    content: "\e617"
}

.pe-7s-search:before {
    content: "\e618"
}

.pe-7s-film:before {
    content: "\e6a5"
}

.pe-7s-science:before {
    content: "\e619"
}

.pe-7s-disk:before {
    content: "\e6a6"
}

.pe-7s-ribbon:before {
    content: "\e61a"
}

.pe-7s-repeat:before {
    content: "\e61b"
}

.pe-7s-refresh:before {
    content: "\e61c"
}

.pe-7s-add-user:before {
    content: "\e6a9"
}

.pe-7s-refresh-cloud:before {
    content: "\e61d"
}

.pe-7s-paperclip:before {
    content: "\e69c"
}

.pe-7s-radio:before {
    content: "\e61e"
}

.pe-7s-note2:before {
    content: "\e69d"
}

.pe-7s-print:before {
    content: "\e61f"
}

.pe-7s-network:before {
    content: "\e69e"
}

.pe-7s-prev:before {
    content: "\e620"
}

.pe-7s-mute:before {
    content: "\e69f"
}

.pe-7s-power:before {
    content: "\e621"
}

.pe-7s-medal:before {
    content: "\e6a0"
}

.pe-7s-portfolio:before {
    content: "\e622"
}

.pe-7s-like2:before {
    content: "\e6a1"
}

.pe-7s-plus:before {
    content: "\e623"
}

.pe-7s-left-arrow:before {
    content: "\e6a2"
}

.pe-7s-play:before {
    content: "\e624"
}

.pe-7s-key:before {
    content: "\e6a3"
}

.pe-7s-plane:before {
    content: "\e625"
}

.pe-7s-joy:before {
    content: "\e6a4"
}

.pe-7s-photo-gallery:before {
    content: "\e626"
}

.pe-7s-pin:before {
    content: "\e69b"
}

.pe-7s-phone:before {
    content: "\e627"
}

.pe-7s-plug:before {
    content: "\e69a"
}

.pe-7s-pen:before {
    content: "\e628"
}

.pe-7s-right-arrow:before {
    content: "\e699"
}

.pe-7s-paper-plane:before {
    content: "\e629"
}

.pe-7s-delete-user:before {
    content: "\e6a7"
}

.pe-7s-paint:before {
    content: "\e62a"
}

.pe-7s-bottom-arrow:before {
    content: "\e6a8"
}

.pe-7s-notebook:before {
    content: "\e62b"
}

.pe-7s-note:before {
    content: "\e62c"
}

.pe-7s-next:before {
    content: "\e62d"
}

.pe-7s-news-paper:before {
    content: "\e62e"
}

.pe-7s-musiclist:before {
    content: "\e62f"
}

.pe-7s-music:before {
    content: "\e630"
}

.pe-7s-mouse:before {
    content: "\e631"
}

.pe-7s-more:before {
    content: "\e632"
}

.pe-7s-moon:before {
    content: "\e633"
}

.pe-7s-monitor:before {
    content: "\e634"
}

.pe-7s-micro:before {
    content: "\e635"
}

.pe-7s-menu:before {
    content: "\e636"
}

.pe-7s-map:before {
    content: "\e637"
}

.pe-7s-map-marker:before {
    content: "\e638"
}

.pe-7s-mail:before {
    content: "\e639"
}

.pe-7s-mail-open:before {
    content: "\e63a"
}

.pe-7s-mail-open-file:before {
    content: "\e63b"
}

.pe-7s-magnet:before {
    content: "\e63c"
}

.pe-7s-loop:before {
    content: "\e63d"
}

.pe-7s-look:before {
    content: "\e63e"
}

.pe-7s-lock:before {
    content: "\e63f"
}

.pe-7s-lintern:before {
    content: "\e640"
}

.pe-7s-link:before {
    content: "\e641"
}

.pe-7s-like:before {
    content: "\e642"
}

.pe-7s-light:before {
    content: "\e643"
}

.pe-7s-less:before {
    content: "\e644"
}

.pe-7s-keypad:before {
    content: "\e645"
}

.pe-7s-junk:before {
    content: "\e646"
}

.pe-7s-info:before {
    content: "\e647"
}

.pe-7s-home:before {
    content: "\e648"
}

.pe-7s-help2:before {
    content: "\e649"
}

.pe-7s-help1:before {
    content: "\e64a"
}

.pe-7s-graph3:before {
    content: "\e64b"
}

.pe-7s-graph2:before {
    content: "\e64c"
}

.pe-7s-graph1:before {
    content: "\e64d"
}

.pe-7s-graph:before {
    content: "\e64e"
}

.pe-7s-global:before {
    content: "\e64f"
}

.pe-7s-gleam:before {
    content: "\e650"
}

.pe-7s-glasses:before {
    content: "\e651"
}

.pe-7s-gift:before {
    content: "\e652"
}

.pe-7s-folder:before {
    content: "\e653"
}

.pe-7s-flag:before {
    content: "\e654"
}

.pe-7s-filter:before {
    content: "\e655"
}

.pe-7s-file:before {
    content: "\e656"
}

.pe-7s-expand1:before {
    content: "\e657"
}

.pe-7s-exapnd2:before {
    content: "\e658"
}

.pe-7s-edit:before {
    content: "\e659"
}

.pe-7s-drop:before {
    content: "\e65a"
}

.pe-7s-drawer:before {
    content: "\e65b"
}

.pe-7s-download:before {
    content: "\e65c"
}

.pe-7s-display2:before {
    content: "\e65d"
}

.pe-7s-display1:before {
    content: "\e65e"
}

.pe-7s-diskette:before {
    content: "\e65f"
}

.pe-7s-date:before {
    content: "\e660"
}

.pe-7s-cup:before {
    content: "\e661"
}

.pe-7s-culture:before {
    content: "\e662"
}

.pe-7s-crop:before {
    content: "\e663"
}

.pe-7s-credit:before {
    content: "\e664"
}

.pe-7s-copy-file:before {
    content: "\e665"
}

.pe-7s-config:before {
    content: "\e666"
}

.pe-7s-compass:before {
    content: "\e667"
}

.pe-7s-comment:before {
    content: "\e668"
}

.pe-7s-coffee:before {
    content: "\e669"
}

.pe-7s-cloud:before {
    content: "\e66a"
}

.pe-7s-clock:before {
    content: "\e66b"
}

.pe-7s-check:before {
    content: "\e66c"
}

.pe-7s-chat:before {
    content: "\e66d"
}

.pe-7s-cart:before {
    content: "\e66e"
}

.pe-7s-camera:before {
    content: "\e66f"
}

.pe-7s-call:before {
    content: "\e670"
}

.pe-7s-calculator:before {
    content: "\e671"
}

.pe-7s-browser:before {
    content: "\e672"
}

.pe-7s-box2:before {
    content: "\e673"
}

.pe-7s-box1:before {
    content: "\e674"
}

.pe-7s-bookmarks:before {
    content: "\e675"
}

.pe-7s-bicycle:before {
    content: "\e676"
}

.pe-7s-bell:before {
    content: "\e677"
}

.pe-7s-battery:before {
    content: "\e678"
}

.pe-7s-ball:before {
    content: "\e679"
}

.pe-7s-back:before {
    content: "\e67a"
}

.pe-7s-attention:before {
    content: "\e67b"
}

.pe-7s-anchor:before {
    content: "\e67c"
}

.pe-7s-albums:before {
    content: "\e67d"
}

.pe-7s-alarm:before {
    content: "\e67e"
}

.pe-7s-airplay:before {
    content: "\e67f"
}

* {
    margin: 0;
    padding: 0
}

#preloader {
    overflow: hidden;
    background-color: rgba(88, 64, 83 .99);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999
}

.dorne-load {
    width: 60px;
    height: 60px;
    background-color: transparent;
    position: relative;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, .2) rgba(255, 255, 255, .2) rgba(255, 255, 255, .95);
    z-index: 9;
    top: 50%;
    margin-left: -30px;
    margin-top: -30px;
    left: 50%;
    border-radius: 50%;
    overflow: hidden;
    -webkit-animation: 4s linear 0s normal none infinite running dorneload;
    animation: 4s linear 0s normal none infinite running dorneload
}

@-webkit-keyframes dorneload {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes dorneload {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

body {
    font-family: 'Open Sans', sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #584053;
    line-height: 1.3
}

p {
    color: #141414;
    font-size: 184px;
    line-height: 1.5;
    font-weight: 600;
}

.section-padding-150 {
    padding-top: 150px;
    padding-bottom: 150px
}

.section-padding-150-0 {
    padding-top: 150px;
    padding-bottom: 0
}

.section-padding-0-150 {
    padding-top: 0;
    padding-bottom: 150px
}

.section-padding-100-50 {
    padding-top: 100px;
    padding-bottom: 50px
}

.section-padding-100 {
    padding-top: 100px;
    padding-bottom: 100px
}

.section-padding-100-0 {
    padding-top: 100px;
    padding-bottom: 0
}

.section-padding-0-100 {
    padding-top: 0;
    padding-bottom: 100px
}

img {
    max-width: 100%;
    height: auto
}

.mt-15 {
    margin-top: 15px
}

.mt-30 {
    margin-top: 30px
}

.mt-40 {
    margin-top: 40px
}

.mt-50 {
    margin-top: 50px
}

.mt-100 {
    margin-top: 100px
}

.mt-150 {
    margin-top: 150px
}

.mr-15 {
    margin-right: 15px
}

.mr-30 {
    margin-right: 30px
}

.mr-50 {
    margin-right: 50px
}

.mr-100 {
    margin-right: 100px
}

.mb-15 {
    margin-bottom: 15px
}

.mb-30 {
    margin-bottom: 30px
}

.mb-50 {
    margin-bottom: 50px
}

.mb-100 {
    margin-bottom: 100px
}

.ml-15 {
    margin-left: 15px
}

.ml-30 {
    margin-left: 30px
}

.ml-50 {
    margin-left: 50px
}

.ml-100 {
    margin-left: 100px
}

ol,
ul {
    margin: 0;
    padding: 0
}



li {
    list-style: none
}

.height-500 {
    height: 500px !important
}

.height-600 {
    height: 600px !important
}

.height-700 {
    height: 700px !important
}

.height-800 {
    height: 800px !important
}

.dorne-table {
    display: table;
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 2
}

.dorne-table-cell {
    display: table-cell;
    vertical-align: middle
}

.section-heading {
    position: relative;
    z-index: 1;
    margin-bottom: 100px
}

.section-heading span {
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin: 0 auto 15px;
    display: block
}

.section-heading h4 {
    font-weight: 800;
    line-height: 1;
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase
}

.section-heading p {
    line-height: 1;
    color: #fff;
    margin-bottom: 0
}

.section-heading.dark span {
    background-color: #8dc6bf
}

.section-heading.dark h4 {
    color: #584053
}

.section-heading.dark p {
    color: #848484
}

#scrollUp {
    bottom: 70px;
    font-size: 18px;
    right: 0;
    width: 40px;
    background-color: #341a79;
    color: #fff;
    text-align: center;
    height: 40px;
    line-height: 44px;
    border-radius: 0;
    font-size: 36px
}

.bg-img {
    background-position: center center;
    background-size: cover
}

.bg-overlay,
.bg-overlay-9 {
    position: relative;
    z-index: 1
}

.bg-overlay-9:after,
.bg-overlay:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(13, 1, 33, .5);
    z-index: -1
}

.bg-overlay-9:after {
    background-color: rgba(14, 2, 35, .9)
}

.bg-gray {
    background-color: #f9f9f9
}

.bg-default {
    background-color: #341a79
}

.dorne-btn {
    min-width: 180px;
    height: 52px;
    background-color: #8dc6bf;
    border-radius: 0;
    padding: 0 15px;
    line-height: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s
}

.dorne-btn:focus,
.dorne-btn:hover {
    color: #fff;
    background-color: #5d25dd;
    font-weight: 600
}

.dorne-search-form {
    width: 100%;
    position: fixed;
    z-index: 99999;
    height: 120px;
    background-color: #341a79;
    top: -200px;
    left: 0;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    overflow-x: hidden
}

.search-form-on .dorne-search-form {
    top: 0
}

.sticky .dorne-search-form {
    height: 80px
}

.dorne-search-form form {
    position: relative;
    z-index: 1
}

.dorne-search-form form input {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, .05);
    background-color: transparent;
    height: 50px;
    color: #fff;
    padding: 0 20px;
    font-size: 14px
}

#closeBtn {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 9;
    background-color: transparent;
    margin-top: -15px;
    top: 50%;
    border-radius: 50%;
    right: 30px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s
}

#closeBtn:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

#closeBtn>i {
    line-height: 30px;
    font-size: 28px
}

.header_area {
    position: fixed;
    width: 100%;
    z-index: 9999;
    height: 120px;
    top: 0;
    left: 0;
    z-index: 99;
    -webkit-transition-duration: .7s;
    -o-transition-duration: .7s;
    transition-duration: .7s;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    padding: 0 30px
}

.sticky .header_area {
    background-color: rgba(14, 2, 35, .9);
    height: 80px;
    z-index: 9999;
    border-bottom: 1px solid transparent
}

.navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-right: 70px
}

.navbar-brand:focus,
.navbar-brand:hover {
    color: #fff;
    font-weight: 700
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
    color: #fff;
    font-size: 15px
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-link:hover {
    color: #8dc6bf
}

.dorne-search-btn>a,
.dorne-signin-btn>a {
    color: #fff;
    display: inline-block;
    margin-right: 40px;
    font-size: 15px
}

.dorne-search-btn>a i {
    padding-right: 10px
}

.dropdown-menu {
    border: none
}

.dropdown-item {
    font-weight: 600;
    font-size: 14px
}

.dropdown-item:hover {
    background-color: #8dc6bf;
    color: #fff
}

.dropdown-toggle:after {
    border: none
}

.dorne-welcome-area {
    width: 100%;
    height: 945px;
    position: relative;
    z-index: 1
}

.hero-content h2 {
    color: #fff;
    font-size: 72px
}

.hero-content h4 {
    color: #fff;
    margin-bottom: 0;
    padding-left: 5px
}

.hero-search-form {
    margin-top: 90px;
    position: relative;
    z-index: 1
}

.hero-search-form .nav-tabs {
    border-bottom: none
}

.hero-search-form .nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: rgba(144, 103, 238, .65);
    text-transform: uppercase;
    min-width: 100px;
    height: 44px;
    line-height: 44px;
    padding: 0;
    text-align: center
}

.hero-search-form .nav-tabs .nav-link.active {
    color: #fff;
    background-color: rgba(67, 25, 161, .65);
    border-color: transparent
}

.hero-search-form .tab-content .tab-pane {
    padding: 35px;
    background-color: rgba(67, 25, 161, .65)
}

.hero-search-form .tab-content .tab-pane h6 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 25px
}

.hero-search-form .tab-content .tab-pane form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.hero-search-form .tab-content .tab-pane form .custom-select {
    height: 52px;
    border-radius: 0;
    padding: 0 80px 0 40px;
    color: #72728c;
    font-size: 12px;
    font-weight: 600;
    border: none;
    margin-right: 10px
}

.hero-social-btn {
    position: absolute;
    width: auto;
    height: auto;
    bottom: 125px;
    left: 60px;
    z-index: 9
}

.hero-social-btn .social-title {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left: -145px
}

.hero-social-btn .social-title h6 {
    margin-bottom: 0;
    color: #fff;
    line-height: 1;
    margin-right: 30px
}

.hero-social-btn .social-title span {
    background-color: #fff;
    width: 80px;
    height: 1px;
    display: block
}

.hero-social-btn .social-btns {
    margin-top: 170px
}

.hero-social-btn .social-btns>a {
    font-size: 15px;
    color: #fff;
    display: block;
    margin-top: 30px
}

.dorne-catagory-area {
    position: relative;
    z-index: 9
}

.single-catagory-area {
    background-color: #8dc6bf;
    text-align: center;
    padding: 60px 15px;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s
}

.single-catagory-area:hover {
    -webkit-box-shadow: 5px 20px 30px rgba(0, 0, 0, .3);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, .3)
}

.all-catagories {
    position: relative;
    top: -50%;
    z-index: 15
}

.single-catagory-area .catagory-content img {
    margin-bottom: 15px
}

.single-catagory-area .catagory-content h6 {
    margin-bottom: 0;
    color: #fff
}

.about-content h2 {
    font-size: 42px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 60px
}

.about-content span {
    color: #8dc6bf
}

.about-content p {
    font-size: 18px;
    line-height: 2;
    margin-bottom: 0
}

.dorne-editors-pick-area {
    position: relative;
    z-index: 1
}

.editors-pick-info .add-more>a,
.editors-pick-info .places-total-destinations>a {
    height: 70px;
    display: inline-block;
    line-height: 70px;
    background-color: #8dc6bf;
    padding: 0 50px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff
}

.editors-pick-info .places-total-destinations>a:last-child {
    text-transform: capitalize;
    font-weight: 400;
    background-color: #584053
}

.editors-pick-info .add-more>a {
    background-color: #30c0a3;
    padding: 0 30px;
    font-size: 24px
}

.single-editors-pick-area {
    position: relative;
    z-index: 1;
    margin-bottom: 20px
}

.editors-pick-info {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 9
}

.dorne-features-destinations-area,
.dorne-features-restaurant-area {
    padding: 100px 35px;
    position: relative;
    z-index: 1
}

.single-features-area {
    position: relative;
    z-index: 1;
    background-color: #f4f6f8;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s
}

.single-features-area .price-start p {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #8dc6bf;
    height: 35px;
    font-size: 12px;
    line-height: 35px;
    margin-bottom: 0;
    padding: 0 15px;
    font-weight: 600;
    color: #fff;
    z-index: 9
}

.feature-content {
    padding: 40px 30px
}

.feature-content .feature-title h5 {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 0;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s
}

.feature-content .feature-title p {
    font-size: 14px;
    margin-bottom: 0;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s
}

.feature-favourite>a {
    color: #8dc6bf;
    font-size: 24px
}

.single-features-area:hover {
    background-color: #8dc6bf;
    -webkit-box-shadow: 3px 15px 30px rgba(0, 0, 0, .15);
    box-shadow: 3px 15px 30px rgba(0, 0, 0, .15)
}

.single-features-area:hover .feature-content .feature-title h5,
.single-features-area:hover .feature-content .feature-title p,
.single-features-area:hover .feature-favourite>a {
    color: #fff
}

.ratings-map-area>a {
    padding: 0 30px;
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    height: 70px;
    line-height: 70px;
    background-color: #8dc6bf
}

.ratings-map-area>a:last-child {
    background-color: #584053;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s
}

.ratings-map-area {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 9
}

.single-features-area:hover .ratings-map-area>a:last-child {
    background-color: #30c0a3
}

.single-feature-events-area {
    position: relative;
    z-index: 1;
    background-color: #fff;
    margin-bottom: 50px;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s
}

.single-feature-events-area .feature-events-thumb {
    position: relative;
    z-index: 1
}

.date-map-area {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9
}

.date-map-area>a {
    padding: 8px 15px;
    font-size: 12px;
    width: 65px;
    font-weight: 800;
    color: #fff;
    height: 50px;
    background-color: #8dc6bf;
    text-align: center
}

.date-map-area>a:last-child {
    background-color: #30c0a3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s
}

.feature-events-thumb {
    width: 170px
}

.feature-events-content {
    position: relative;
    z-index: 2;
    padding: 0 5px 0 5px
}

.feature-events-details-btn>a {
    width: 65px;
    height: 50px;
    background-color: #584053;
    display: block;
    font-size: 24px;
    color: #fff;
    line-height: 50px;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 99
}

.feature-events-content h5 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 15px;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s
}

.feature-events-content h6 {
    font-size: 18px;
    font-weight: 400;
    color: #bfb1de;
    margin-bottom: 15px;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s
}

.feature-events-content p {
    font-size: 20px;
    padding: 0 3em 0 0;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    margin-bottom: 0
}

.single-feature-events-area:hover {
    background-color: #8dc6bf
}

.single-feature-events-area:hover .feature-events-content h5,
.single-feature-events-area:hover .feature-events-content p {
    color: #fff
}

.dorne-footer-area {
    padding: 50px 35px;
    border-top: 1px solid #bec0cc
}

.footer-text p {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0
}

.footer-social-btns>a {
    display: inline-block;
    color: #ffffff;
    padding: 0 15px;
    font-size: 14px
}

.breadcumb-area {
    height: 120px;
    position: relative;
    z-index: 1
}

.contact-form-area {
    position: relative;
    z-index: 1;
    padding: 100px 40px 100px 50px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%
}

.contact-text h4 {
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 50px
}

.contact-text p {
    font-size: 14px;
    line-height: 2;
    margin: 0
}

.single-contact-info {
    margin: 70px 0
}

.single-contact-info:first-child {
    margin-right: 65px
}

.single-contact-info h6 {
    font-size: 14px
}

.single-contact-info h6>i {
    color: #c2b6d9;
    margin-right: 30px
}

.contact-form {
    padding: 70px 30px;
    background-color: #f3edff
}

.contact-form-title h6 {
    font-size: 18px;
    margin-bottom: 30px
}

.contact-form .form-control {
    height: 50px;
    font-size: 12px;
    color: #72728c;
    font-weight: 600;
    border: none;
    border-radius: 0;
    margin-bottom: 30px
}

.contact-form textarea.form-control {
    height: 110px
}

.explore-map-area,
.explore-search-area {
    height: 1100px
}

#exploreGoogleMap {
    width: 100%;
    height: 100%
}

.explore-map-area,
.explore-search-area,
.explore-search-form,
.explore-search-result {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%
}

.explore-search-form {
    background-color: #8dc6bf;
    padding: 50px 40px
}

.explore-search-form h6 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 35px
}

.explore-search-form .nav-tabs {
    border-bottom: none;
    margin-bottom: 65px;
    border: 2px #fff dashed
}

.explore-search-form .nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: rgba(144, 103, 238, .65);
    text-transform: uppercase;
    min-width: 100px;
    height: 44px;
    line-height: 44px;
    padding: 0;
    text-align: center
}

.explore-search-form .nav-tabs .nav-link.active {
    color: #fff;
    background-color: rgba(67, 25, 161, .65);
    border-color: transparent
}

.explore-search-form .tab-content .tab-pane h6 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 25px
}

.explore-search-form .tab-content .tab-pane form .custom-select {
    height: 52px;
    border-radius: 0;
    padding: 0 80px 0 40px;
    color: #72728c;
    font-size: 12px;
    font-weight: 600;
    border: none;
    width: 100%;
    margin-bottom: 30px
}

.explore-search-form .custom-control-description {
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    line-height: 24px
}

.explore-search-result {
    padding: 0 40px;
    position: relative;
    z-index: 1;
    height: 1100px;
    overflow-y: auto
}

.explore-search-result .single-features-area {
    margin-bottom: 30px
}

.breadcumb-content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 700px
}

.map-ratings-review-area {
    position: absolute;
    bottom: 40px;
    right: 0;
    z-index: 999
}

.map-ratings-review-area>a {
    padding: 0 30px;
    height: 70px;
    line-height: 70px;
    color: #fff;
    font-size: 15px;
    background-color: #30c0a3
}

.map-ratings-review-area>a:nth-child(2) {
    background-color: #8dc6bf
}

.map-ratings-review-area>a:last-child {
    background-color: #fff;
    color: #584053
}

.book-a-table-widget {
    padding: 50px 30px;
    background-color: #8dc6bf
}

.book-a-table-widget h6 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px
}

.book-a-table-widget .custom-select {
    width: 100%;
    border: none;
    border-radius: 0;
    margin-bottom: 30px;
    height: 50px;
    font-size: 14px;
    color: #72728c;
    padding: 0 30px
}

.opening-hours-widget {
    padding: 50px 30px;
    background-color: #f3edff;
    position: relative;
    z-index: 1
}

.opening-hours-widget h6 {
    margin-bottom: 30px;
    font-size: 18px
}

.opening-hours li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.opening-hours li:first-child p {
    color: #8dc6bf
}

.opening-hours li:last-child p {
    margin-bottom: 0
}

.author-widget>img {
    width: 43px !important;
    height: 43px !important;
    border-radius: 50%;
    margin-right: 30px
}

.author-widget .authors-name>a {
    font-size: 14px;
    color: #584053;
    margin-bottom: 5px;
    display: block
}

.author-widget .authors-name p {
    font-size: 12px;
    margin-bottom: 0
}

.author-widget {
    padding: 25px 20px;
    background-color: #f3edff
}

.contact-form-widget {
    padding: 50px 30px
}

.contact-form-widget h6 {
    margin-bottom: 30px;
    font-size: 18px
}

.listing-title {
    margin-bottom: 30px
}

.listing-title h4 {
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 10px
}

.listing-title h6 {
    margin-bottom: 0
}

.single-listing-nav {
    border-bottom: 2px solid #ebebeb
}

.single-listing-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.single-listing-nav li a {
    padding: 30px 10px;
    font-size: 14px;
    display: block;
    color: #584053;
    position: relative;
    z-index: 1
}

.single-listing-nav li a:hover,
.single-listing-nav li.active a {
    color: #8dc6bf
}

.single-listing-nav li.active a:after {
    background-color: #8dc6bf;
    content: '';
    bottom: -2px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px
}

.overview-content p {
    line-height: 2;
    margin-bottom: 20px
}

.overview-content .custom-control-description {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600
}

.listing-menu-area h4 {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 60px
}

.single-listing-menu {
    background-color: #f3edff;
    padding: 20px 40px;
    margin-bottom: 5px
}

.single-listing-menu p {
    margin-bottom: 0
}

.single-listing-menu:nth-child(odd) {
    background-color: #fbf9ff
}

.listing-reviews-area h4 {
    margin-bottom: 60px;
    text-transform: uppercase;
    font-weight: 700
}

.reviewer-meta>img {
    width: 73px !important;
    height: 73px !important;
    border-radius: 50%;
    margin-right: 20px
}

.review-title-ratings h5 {
    font-style: italic;
    font-size: 18px;
    margin-bottom: 30px
}

.single-review-area {
    margin-bottom: 50px
}

.reviewer-content p {
    margin: 0;
    line-height: 2
}

.reviewer-name {
    padding-left: 93px;
    margin-top: 30px
}

.reviewer-name p {
    margin-bottom: 0;
    font-size: 12px
}

.location-on-map h4 {
    margin-bottom: 60px;
    text-transform: uppercase;
    font-weight: 700
}

#locationMap {
    width: 100%;
    height: 380px
}

@media (min-width:992px) and (max-width:1199px) {
    .header_area {
        padding: 0
    }

    .navbar-brand {
        margin-right: 30px
    }

    .dorne-search-btn>a,
    .dorne-signin-btn>a {
        margin-right: 15px;
        font-size: 14px
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 7px;
        padding-left: 7px;
        font-size: 14px
    }

    .hero-content h2 {
        font-size: 50px
    }

    .hero-social-btn {
        bottom: 130px
    }

    .hero-search-form .tab-content .tab-pane form .custom-select {
        padding: 0 50px 0 20px
    }

    .explore-search-form {
        padding: 30px 20px
    }

    .explore-search-result {
        padding: 0 20px
    }

    .explore-search-form h6 {
        font-size: 16px
    }

    .single-contact-info h6 {
        font-size: 13px
    }

    .single-contact-info h6>i {
        margin-right: 10px
    }

    .single-contact-info:first-child {
        margin-right: 15px
    }
}

@media (min-width:768px) and (max-width:991px) {
    .navbar-toggler {
        border: 2px solid #fff;
        color: #fff;
        margin: 37px 0;
        -webkit-transition-duration: .5s;
        -o-transition-duration: .5s;
        transition-duration: .5s
    }

    .sticky .navbar-toggler {
        margin: 17px 0
    }

    #dorneNav {
        padding: 30px;
        background-color: #341a79;
        -webkit-box-shadow: 1px 9px 10px rgba(255, 255, 255, .15);
        box-shadow: 1px 9px 10px rgba(255, 255, 255, .15);
        border-radius: 0 0 3px 3px
    }

    .dorne-search-btn>a,
    .dorne-signin-btn>a {
        margin-right: 0;
        margin-left: 15px;
        padding: 10px 0
    }

    .hero-content h2 {
        color: #fff;
        font-size: 42px
    }

    .hero-social-btn {
        bottom: 140px;
        left: 30px;
        z-index: 0
    }

    .hero-search-form .tab-content .tab-pane form .custom-select {
        padding: 0 10px;
        margin-right: 5px
    }

    .dorne-btn {
        min-width: 150px
    }

    .single-catagory-area .catagory-content h6 {
        font-size: 13px
    }

    .about-content h2 {
        font-size: 36px
    }

    .single-catagory-area {
        padding: 40px 15px
    }

    .clients-logo img {
        padding: 0 15px
    }

    .explore-search-area {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        width: 60%
    }

    .explore-map-area {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        width: 40%
    }

    .explore-search-form,
    .explore-search-result {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        width: 50%
    }

    .explore-search-form {
        padding: 30px 15px
    }

    .explore-search-result {
        padding: 0 15px
    }

    .explore-search-form h6 {
        font-size: 14px
    }

    .explore-search-form .tab-content .tab-pane form .custom-select {
        margin-bottom: 15px
    }

    .listing-sidebar {
        margin-top: 100px
    }

    .contact-form-area {
        padding: 50px 20px
    }

    .single-contact-info:first-child {
        margin-right: 0
    }

    .contact-text h4 {
        font-size: 20px
    }
}

@media (min-width:320px) and (max-width:767px) {
    .header_area {
        padding: 0
    }

    .navbar-brand {
        margin-right: 0
    }

    .navbar-toggler {
        border: 2px solid #fff;
        color: #fff;
        margin: 37px 0;
        -webkit-transition-duration: .5s;
        -o-transition-duration: .5s;
        transition-duration: .5s
    }

    .sticky .navbar-toggler {
        margin: 17px 0
    }

    #dorneNav {
        padding: 15px;
        background-color: #341a79;
        -webkit-box-shadow: 1px 9px 10px rgba(255, 255, 255, .15);
        box-shadow: 1px 9px 10px rgba(255, 255, 255, .15);
        border-radius: 0 0 3px 3px
    }

    .dorne-search-btn>a,
    .dorne-signin-btn>a {
        margin-right: 0;
        margin-left: 15px;
        padding: 10px 0
    }

    .hero-content h2 {
        color: #fff;
        font-size: 24px
    }

    .hero-social-btn {
        display: none
    }

    .hero-search-form .tab-content .tab-pane form .custom-select {
        padding: 0 10px;
        margin-right: 5px
    }

    .dorne-btn {
        min-width: 150px
    }

    .all-catagories {
        top: 0;
        padding: 30px 0
    }

    .hero-content h4 {
        padding-left: 0;
        font-size: 16px
    }

    .hero-search-form .tab-content .tab-pane h6 {
        font-size: 16px
    }

    .hero-search-form .tab-content .tab-pane form {
        display: block
    }

    .hero-search-form .tab-content .tab-pane form .custom-select {
        padding: 0 50px 0 20px;
        margin-right: 0;
        margin-bottom: 5px;
        width: 100%
    }

    .single-catagory-area {
        margin-bottom: 30px
    }

    .about-content h2 {
        font-size: 30px;
        margin-bottom: 30px
    }

    .editors-pick-info .add-more>a,
    .editors-pick-info .places-total-destinations>a {
        height: 50px;
        line-height: 50px;
        padding: 0 15px
    }

    .editors-pick-info {
        top: 15px;
        left: 15px
    }

    .dorne-features-destinations-area,
    .dorne-features-restaurant-area {
        padding: 100px 15px
    }

    .single-catagory-area {
        padding: 40px 15px
    }

    .feature-events-thumb {
        width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%
    }

    .feature-events-content {
        padding: 30px 15% 30PX 20px
    }

    .clients-logo>img {
        padding: 30px
    }

    .dorne-footer-area {
        padding: 50px 0;
        text-align: center
    }

    .footer-text {
        margin-bottom: 30px
    }

    .explore-map-area,
    .explore-search-area,
    .explore-search-form,
    .explore-search-result {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        width: 100%
    }

    .explore-search-form {
        padding: 30px 15px
    }

    .explore-search-form h6 {
        font-size: 14px
    }

    .explore-search-form .tab-content .tab-pane form .custom-select {
        margin-bottom: 15px
    }

    .explore-search-area {
        height: 1500px
    }

    .explore-map-area {
        height: 800px
    }

    .explore-search-result {
        padding: 0 30px;
        height: 550px;
        overflow-y: auto
    }

    .explore-search-form .nav-tabs {
        margin-bottom: 30px
    }

    .listing-sidebar {
        margin-top: 100px
    }

    .map-ratings-review-area>a {
        padding: 0 20px
    }

    .single-listing-nav li a {
        padding: 30px 5px;
        font-size: 12px
    }

    .contact-form-area,
    .dorne-map-area {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        width: 100%
    }

    .contact-form-area {
        padding: 50px 15px
    }

    .dorne-map-area {
        height: 500px
    }
}

@media (min-width:576px) and (max-width:767px) {
    .hero-content h2 {
        font-size: 36px
    }

    .feature-events-thumb {
        width: 179px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 179px;
        flex: 0 0 179px
    }

    .map-ratings-review-area>a {
        padding: 0 30px
    }

    .single-listing-nav li a {
        padding: 30px 10px;
        font-size: 14px
    }
}

body {
    overflow-x: hidden
}

a {
    text-decoration: none
}

.owl-carousel .owl-item img {
    height: 293px;
    max-width: 321px;
    -o-object-fit: cover;
    object-fit: cover
}

body>div.dorne-clients-area.section-padding-100>div>div>div>div>img {
    height: 293px;
    width: 321px;
    -o-object-fit: contain;
    object-fit: contain
}

body>section.dorne-welcome-area.bg-img.bg-overlay {
    background-repeat: no-repeat;
    background-size: cover
}

.bg-overlay::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1
}

.bg-overlay-9:after {
    background-color: #8dc6bfca
}

.bg-default {
    background-color: #fcbc66
}

.hero-search-form .tab-content .tab-pane {
    background-color: #fcbb66a8
}

.hero-search-form .tab-content .tab-pane form {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.hero-search-form .tab-content .tab-pane form .custom-select {
    width: 35%
}

.longcol {
    background-image: url(img/street.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

body>section.dorne-editors-pick-area.bg-img.bg-overlay-9.section-padding-100>div>div.row.h-100>div:nth-child(2)>div>div>img {
    height: 100%;
    width: 100%
}

.single-catagory-area .catagory-content i {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 10px
}

.editors-pick-info .add-more>a {
    font-size: 16px;
    font-weight: 300
}

.owl-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.owl-item img {
    height: 60%
}

.dorne-btn:focus,
.dorne-btn:hover {
    color: #fff;
    background-color: #fcbc66;
    font-weight: 600
}

.feature-events-content h6 {
    color: #584053
}

#locationMap iframe {
    border: none
}

.explore-search-result,
.gm-style>div:nth-child(1),
html body section.dorne-explore-area.d-md-flex div.explore-map-area div#exploreGoogleMap div div.gm-style div div {
    display: none
}

html body.sticky div.container-fluid section.dorne-explore-area.row div.explore-search-form.col-md-4 div#nav-tabContent.tab-content div#nav-places.tab-pane.fade.show.active form button.btn.dorne-btn.mt-50.bg-white.text-dark {
    margin: 0 auto
}

.card-horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.card-text {
    margin: .5em auto
}

.col {
    padding: 4em 2em
}

.col>div:nth-child(1),
.col>div:nth-child(3) {
    margin: 4em auto
}

.col>div:nth-child(2) {
    margin: 6em auto !important
}

.kartyagomb {
    height: 50px;
    display: inline-block;
    line-height: 50px;
    background-color: #8dc6bf;
    padding: 0 30px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff
}

.kartyagomb:hover {
    text-decoration: none;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    outline: 0;
    font-weight: 600
}

.gombtarto {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

body>section.dorne-catagory-area>div>div>div>div>div>div>a>div {
    height: 100%;
    width: 100%
}

body>section.dorne-catagory-area>div>div>div>div>div>div>a>div>div>h6 {
    font-size: 1em
}

body>section.dorne-catagory-area>div>div>div>div>div>div>a {
    height: 100%
}

.kartyak {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    -webkit-transform: translateY(-65%);
    -ms-transform: translateY(-65%);
    transform: translateY(-65%)
}

.logo {
    max-height: 100%
}

.categorykartya {
    position: relative
}

.categorygomb {
    position: absolute;
    bottom: 0;
    right: 0
}

.heading-primary {
    font-size: 2em;
    padding: 4em 0 2em 0;
    text-align: center
}

.accordion dl,
.accordion-list {
    border: 1px solid #fff
}

.accordion dl:after,
.accordion-list:after {
    content: "";
    display: block;
    height: 1em;
    width: 100%;
    background-color: #fff
}

.accordion dd,
.accordion__panel {
    background-color: #fff;
    font-size: 2em;
    line-height: 1.5em
}

.accordion p {
    padding: 1em 2em 1em 2em
}

.accordion {
    position: relative;
    background-color: #fff
}

.container {
    margin: 0 auto;
    padding: 2em 0 2em 0
}

.accordionTitle,
.accordion__Heading {
    background-color: #38cc70;
    text-align: center;
    font-weight: 700;
    padding: 2em;
    display: block;
    text-decoration: none;
    color: #fff;
    -webkit-transition: background-color .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
    border-bottom: 1px solid #30bb64
}

.accordionTitle:before,
.accordion__Heading:before {
    content: "+";
    font-size: 1.5em;
    line-height: .5em;
    float: left;
    transition: -webkit-transform .8s ease-in-out;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -o-transition: transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
    transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out
}

.accordionTitle:hover {
    background-color: #38cc70;
    font-weight: 700;
    padding: 2em;
    display: block;
    text-decoration: none;
    color: #fff;
    -webkit-transition: background-color .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
    border-bottom: 1px solid #30bb64
}

.accordionTitle.is-expanded,
.accordionTitleActive {
    background-color: #2ba659
}

.accordionTitle.is-expanded:before,
.accordionTitleActive:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.accordionItem {
    height: auto;
    overflow: hidden;
    max-height: 50em;
    -webkit-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s
}

@media screen and (min-width:48em) {
    .accordionItem {
        max-height: 15em;
        -webkit-transition: max-height .5s;
        -o-transition: max-height .5s;
        transition: max-height .5s
    }
}

.accordionItem.is-collapsed {
    max-height: 0
}

.no-js .accordionItem.is-collapsed {
    max-height: auto
}

.animateIn {
    -webkit-animation: accordionIn .45s normal ease-in-out both 1;
    animation: accordionIn .45s normal ease-in-out both 1
}

.animateOut {
    -webkit-animation: accordionOut .45s alternate ease-in-out both 1;
    animation: accordionOut .45s alternate ease-in-out both 1
}

@-webkit-keyframes accordionIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.9) rotateX(-60deg);
        transform: scale(.9) rotateX(-60deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes accordionIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.9) rotateX(-60deg);
        transform: scale(.9) rotateX(-60deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes accordionOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(.9) rotateX(-60deg);
        transform: scale(.9) rotateX(-60deg)
    }
}

@keyframes accordionOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(.9) rotateX(-60deg);
        transform: scale(.9) rotateX(-60deg)
    }
}